.about-section,
.project-section,
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  height: 100%;
}

.about-section {
  background: #ffffff;
  color: #000000;
}

.project-section {
  background: #ffffff;
  color: #000000;
}

.contact-section {
  background: #ffffff;
  color: #000000;
}

footer {
  background: #c0c0c0;
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
}
